<form action="/" method="post" class="form">
	<label for="word" id="form-instructions">Enter a word.</label>
	<input type="text" name="word">
	<input type="submit" class="btn" value="Show Me My Anagrams!">
</form>